<strong>Recuperação de senha</strong>

<p>Foi feita uma solicitação de recuperação de senha para o email {{email}}. Caso você não tenha feito essa requisição, sugerimos que mude sua senha</p>
<p>Para recuperar sua senha, utilize o token {{token}}</p>
